

/* Start:/bitrix/components/custom/envelope.printing/templates/.default/style.css?15289167871402*/
.custom-mail {
    margin: 0 10px;
    width: 9in;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    color: #3e3e3e;
    position: relative;
    display: flex;
    flex-direction: column;
}

.custom-mail::before {
    display: block;
    content: '';
    width: 80px;
    height: 1px;
    position: absolute;
    right: 0px;
    top: 40px;
    background: #000000;
}

.custom-mail::after {
    display: block;
    content: '';
    width: 1px;
    height: 80px;
    position: absolute;
    right: 0px;
    top: 40px;
    background: #3e3e3e;
    opacity: 0.4;
}

.custom-mail__block--bottom .custom-mail__index {
    margin-left: 0;
}

.custom-mail__block {
    padding: 60px 0;
    flex-grow: 1;
    margin-right: auto;

}

.custom-mail__block--bottom {
    margin-left: auto;
    margin-right: 0;
}

.custom-mail__row {
    display: flex;
    width: 4.5in;
}

.custom-mail__text {
    color: #000000;
    padding-top: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    min-height: 1.4em;
    flex-grow: 1;
}

.custom-mail__name {
    padding-top: 5px;
    padding-right: 15px;
    font-style: italic;
}

.custom-mail__index {
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    width: 150px;
    box-sizing: border-box;
    padding: 2px 15px;
    margin-left: auto;
    min-height: 1.7em;
}
/* End */
/* /bitrix/components/custom/envelope.printing/templates/.default/style.css?15289167871402 */
